{% extends_admingenerated "NitraManagerBundle:RoleList:row.html.twig" %}

{% block list_td_column_menuAccess %}
    <ol>
        {% for menuAccess in Role.menuAccess %}
            <li>{{ menuAccess|trans({}, 'menu') }}</li>
        {% endfor %}
    </ol>
{% endblock list_td_column_menuAccess %}