{% extends_admingenerated "NitraManagerBundle:ManagerEdit:form.html.twig" %}

{% block form_roles %}
    {{ parent() }}
    <script type="text/javascript">
        $('a.new').remove();
    </script>
{% endblock %}